*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    background-color: grey;
    padding: 30px 0px;
    
}

#main{
    margin-top: 50px;
    width: 85%;
    height: 100vh;
    background-color: #fff;
    overflow-x: auto; 
    border-radius: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nav{
    display: flex;
    padding: 40px 65px;
    justify-content: space-between;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

#nav h3, h4{
    font-size: 20px;
    font-weight: 500;
}

#content{
    padding: 40px 65px;
    margin-top: 80px;
}
#content h5{
    font-size: 22px;
    font-weight: 500;
}

#content h1{
    margin-top: 45px;
    font-size: 150px;
    font-weight: 500;
    line-height: 140px;
    letter-spacing: -7px;
    word-spacing: 14px;
}

#case{
    margin-top: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 65px;
}

#right h2{
    font-size: 20px;
    font-weight: 400;
}
#right{
    display: flex;
    align-items: center;
    justify-content: center;
}
#left h2{
    font-size: 20px;
    font-weight: 400;
}

#line{
    height: 2px;
    width: 200px;
    margin-right: 22px;
    background-color: black;
}

#project{
    display: flex;
    padding: 40px 65px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.elem{
    width:  50%;
    
}
.img{
    height: 770px;
    width: 100%;
    background-color: rgb(213, 229, 250);
    background-size: cover;
    background-position: center;
    border-radius: 60px;
}

#img1{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/59/Sketch_Logo.svg");
    
}

#img2{
    background-image: url("https://amadine.com/assets/img/articles/ui-design/contemporary-ui-design@2x.jpg");
}

.btm{
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btm-left h3{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1px;
}
.btm-left h4{
    font-size: 22px;
    color: rgb(161, 156, 156);
}

.btm-right i{
    font-size: 28px;
    border: 2px solid #000;
    padding: 12px 30px;
    border-radius: 60px;
}

.btm-right i:hover{
    background-color: #000;
    color: #fff;
}