*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px 20px;
}

#nav h3{
    background-color: black;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 25px;
    margin-left: 5px;
    border-radius: 60px;
}
#intro{
    height: 40%;
    width: 100%;
    padding: 60px 50px;
}

#intro h1{
    font-size: 80px;
    line-height: 75px;
    letter-spacing: -3px;
}
#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

#place h3, #place h4{
    font-size: 23px;
    font-weight: 500;
}

#hero{
    height: 88%;
    width: 100%;
    background-image: url("WhatsApp Image 2025-07-18 at 11.45.06_1109d031.jpg");
    background-size: cover;
    background-position: center;
}

#about{
    height: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

#about h2{
    width: 60%;
    font-size: 56px;
    line-height: 52px;
    letter-spacing: -1px;
    font-weight: 600;
}
#part2 {
    width: 35%;
    height: 100%;
    padding: 30px 40px;
    border-left: 2px solid black;
}
#part2 h3{
    font-size: 26px;
    font-weight: 600;
}

#icons{
    margin-top: 138px;
    display: flex;
}
#icons i{
    font-size: 26px;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 50px;
    padding: 8px;
    margin-right: 20px;
}
#work{
    height: 55%;
    width: 100%;
    padding: 40px;
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    border: 2px solid black;
}

#work1{
    width: 30%;
    height: 100%;
    border-right: 2px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

#work1 h3{
    font-size: 22px;
    font-weight: 600;
}
#work1 i{
    font-size: 28px;
} 
#work2{
    width: 70%;
    height: 100%;
    
}

.work2-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    
}
.work2-part:nth-child(1){
    border-bottom: 2px solid #000;
}
.work2-part .elem{
    width: 50%;
    height: 100%;
    padding: 0px 10px;
}

.work2-part .elem:nth-child(1){
    border-right: 2px solid #000;
}
.work2-part .elem:nth-child(2){
    padding-left: 20px;
}

.work2-part .elem h4{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
}

.work2-part .elem p{
    font-size: 18px;
    font-weight: 400;
}

