*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: grey;
}

#main{
    height: 90%;
    width: 90%;
    background-color: #fff;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 30px;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
}


#nav h3{
    font-size: 17px;
    font-weight: 500;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 6px;
}

#nav i{
    font-size: 17px;
    font-weight: 500;
    border: 1px solid #000;
    border-radius: 60px;
    padding: 6px;
}


#nav h1{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px;
}

#nav button{
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 60px;
    color: #000;
}

#btn2{
    color: #fff !important;
    border: none !important;
    background-color: orangered !important;

}

#main>h1{
    font-size: 140px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-weight: 500;
    text-align: center;
}

img{
    height: 420px;
    width: 370px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
}

#img1{
    transform: translate(-50%, -50%) rotate(-30deg);
}

#img2{
    transform: translate(-50%, -50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%, -50%) rotate(-10deg);
}

#btm-left{
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 16px;
    font-weight: 500;
}

#btm-right{
    position: absolute;
    bottom: 5%;
    left: 90%;
}
#btm-right i{
   font-size: 24px;
   font-weight: 500;
   padding: 8px;
}
#btm-center {
    position: absolute;
    bottom: 3.5%;
    left: 48%;
    
}
#btm-center i{
    font-size: 30px;
    font-weight: 500;
    border: 1px solid #000;
    border-radius: 60px;
    padding: 20px;
}